!tmp/cache/mustache/.gitkeep
*.sublime-*
.DS_Store
.idea
.phpintel
.test
.vscode
config/docker/database/import/23_account.sql
config/docker/database/mysql/*
htdocs/css/*.css
htdocs/js/_bundles/*
htdocs/js/bundle.js
htdocs/js/bundle.js.map
htdocs/js/vendor.bundle.js
htdocs/js/vendor.bundle.js.map
htdocs/less
htdocs/min
node_modules/
npm-debug.log
onfone.conf
onfone_*.conf
Thumbs.db
tmp/cache/mustache/*
vendor/*
react-apps/terminal-sale-online/dist/*
!.htaccess
coverage/
yarn.lock
