
<!doctype html>
<html>
  <head>
    <title>Advanced React</title>
  </head>
  <body>
    <div id="rootx"><%- initialContent -%></div>

    <script src="bundle.js" charset="utf-8"></script>
  </body>
</html>